In [1]:
import requests
# import json
import pandas as pd

In [2]:
# with open("data.json", "r") as f: 
#     raw_data = json.load(f)
    
url_HDRO = "http://ec2-54-174-131-205.compute-1.amazonaws.com/API/HDRO_API.php/indicator_id=137906,136906,137006/year=1990,1995,2000,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021"
response_HDRO = requests.get(url_HDRO)
print(f"HDRO: {response_HDRO}")

raw_data = response_HDRO.json()

HDRO: <Response [200]>

In [3]:
indicator_name = raw_data["indicator_name"]
indicator_name

{'136906': 'Human Development Index (HDI), female',
 '137006': 'Human Development Index (HDI), male',
 '137906': 'Gender Development Index (GDI)'}

In [4]:
country_name = raw_data["country_name"]

In [5]:
clean_data = []
for country_code in raw_data["indicator_value"].keys():
    for indicator_code in raw_data["indicator_value"][country_code].keys():
        for year in raw_data["indicator_value"][country_code][indicator_code].keys():
            my_dict = {
                "Country": country_name[country_code],
                "Country_Code": country_code,
                "Year":year,
                "indicator":indicator_name[indicator_code],
                "value": raw_data["indicator_value"][country_code][indicator_code][year]
                
            }
            clean_data.append(my_dict)

In [6]:
df = pd.DataFrame(clean_data)
df

,Country,Country_Code,Year,indicator,value
0,Afghanistan,AFG,2000,"Human Development Index (HDI), female",0.138
1,Afghanistan,AFG,2005,"Human Development Index (HDI), female",0.264
2,Afghanistan,AFG,2010,"Human Development Index (HDI), female",0.329
3,Afghanistan,AFG,2011,"Human Development Index (HDI), female",0.339
4,Afghanistan,AFG,2012,"Human Development Index (HDI), female",0.350
...,...,...,...,...,...
6205,Zimbabwe,ZWE,2018,Gender Development Index (GDI),0.927
6206,Zimbabwe,ZWE,2019,Gender Development Index (GDI),0.931
6207,Saint Vincent and the Grenadines,VCT,2019,Gender Development Index (GDI),0.965
6208,Saint Vincent and the Grenadines,VCT,2019,"Human Development Index (HDI), female",0.724
6209,Saint Vincent and the Grenadines,VCT,2019,"Human Development Index (HDI), male",0.750

In [7]:
df_HDI_f = df[df['indicator'] == 'Human Development Index (HDI), female']
df_HDI_f

,Country,Country_Code,Year,indicator,value
0,Afghanistan,AFG,2000,"Human Development Index (HDI), female",0.138
1,Afghanistan,AFG,2005,"Human Development Index (HDI), female",0.264
2,Afghanistan,AFG,2010,"Human Development Index (HDI), female",0.329
3,Afghanistan,AFG,2011,"Human Development Index (HDI), female",0.339
4,Afghanistan,AFG,2012,"Human Development Index (HDI), female",0.350
...,...,...,...,...,...
6177,Zimbabwe,ZWE,2016,"Human Development Index (HDI), female",0.538
6178,Zimbabwe,ZWE,2017,"Human Development Index (HDI), female",0.543
6179,Zimbabwe,ZWE,2018,"Human Development Index (HDI), female",0.548
6180,Zimbabwe,ZWE,2019,"Human Development Index (HDI), female",0.550
6208,Saint Vincent and the Grenadines,VCT,2019,"Human Development Index (HDI), female",0.724

In [8]:
df_HDI_m = df[df['indicator'] == 'Human Development Index (HDI), male']
df_HDI_m

,Country,Country_Code,Year,indicator,value
12,Afghanistan,AFG,2000,"Human Development Index (HDI), male",0.429
13,Afghanistan,AFG,2005,"Human Development Index (HDI), male",0.508
14,Afghanistan,AFG,2010,"Human Development Index (HDI), male",0.553
15,Afghanistan,AFG,2011,"Human Development Index (HDI), male",0.557
16,Afghanistan,AFG,2012,"Human Development Index (HDI), male",0.566
...,...,...,...,...,...
6190,Zimbabwe,ZWE,2016,"Human Development Index (HDI), male",0.581
6191,Zimbabwe,ZWE,2017,"Human Development Index (HDI), male",0.586
6192,Zimbabwe,ZWE,2018,"Human Development Index (HDI), male",0.591
6193,Zimbabwe,ZWE,2019,"Human Development Index (HDI), male",0.590
6209,Saint Vincent and the Grenadines,VCT,2019,"Human Development Index (HDI), male",0.750

In [9]:
df_GDI = df[df['indicator'] == 'Gender Development Index (GDI)']
df_GDI

,Country,Country_Code,Year,indicator,value
24,Afghanistan,AFG,2000,Gender Development Index (GDI),0.322
25,Afghanistan,AFG,2005,Gender Development Index (GDI),0.519
26,Afghanistan,AFG,2010,Gender Development Index (GDI),0.595
27,Afghanistan,AFG,2011,Gender Development Index (GDI),0.609
28,Afghanistan,AFG,2012,Gender Development Index (GDI),0.618
...,...,...,...,...,...
6203,Zimbabwe,ZWE,2016,Gender Development Index (GDI),0.927
6204,Zimbabwe,ZWE,2017,Gender Development Index (GDI),0.927
6205,Zimbabwe,ZWE,2018,Gender Development Index (GDI),0.927
6206,Zimbabwe,ZWE,2019,Gender Development Index (GDI),0.931
6207,Saint Vincent and the Grenadines,VCT,2019,Gender Development Index (GDI),0.965

In [10]:
df_HDIm_HDIf = pd.merge(df_HDI_m, df_HDI_f,  how='outer', left_on=['Country','Country_Code','Year'], right_on = ['Country','Country_Code','Year'], suffixes = ('_HDI_m', '_HDI_f'))
df_HDIm_HDIf

,Country,Country_Code,Year,indicator_HDI_m,value_HDI_m,indicator_HDI_f,value_HDI_f
0,Afghanistan,AFG,2000,"Human Development Index (HDI), male",0.429,"Human Development Index (HDI), female",0.138
1,Afghanistan,AFG,2005,"Human Development Index (HDI), male",0.508,"Human Development Index (HDI), female",0.264
2,Afghanistan,AFG,2010,"Human Development Index (HDI), male",0.553,"Human Development Index (HDI), female",0.329
3,Afghanistan,AFG,2011,"Human Development Index (HDI), male",0.557,"Human Development Index (HDI), female",0.339
4,Afghanistan,AFG,2012,"Human Development Index (HDI), male",0.566,"Human Development Index (HDI), female",0.350
...,...,...,...,...,...,...,...
2067,Zimbabwe,ZWE,2018,"Human Development Index (HDI), male",0.591,"Human Development Index (HDI), female",0.548
2068,Zimbabwe,ZWE,2019,"Human Development Index (HDI), male",0.590,"Human Development Index (HDI), female",0.550
2069,Saint Vincent and the Grenadines,VCT,2019,"Human Development Index (HDI), male",0.750,"Human Development Index (HDI), female",0.724
2070,Cameroon,CMR,1995,NaN,NaN,"Human Development Index (HDI), female",0.398
2071,Panama,PAN,1995,NaN,NaN,"Human Development Index (HDI), female",0.688

In [11]:
df_all = pd.merge(df_HDIm_HDIf, df_GDI,  how='outer', left_on=['Country','Country_Code','Year'], right_on = ['Country','Country_Code','Year'])
df_all

,Country,Country_Code,Year,indicator_HDI_m,value_HDI_m,indicator_HDI_f,value_HDI_f,indicator,value
0,Afghanistan,AFG,2000,"Human Development Index (HDI), male",0.429,"Human Development Index (HDI), female",0.138,Gender Development Index (GDI),0.322
1,Afghanistan,AFG,2005,"Human Development Index (HDI), male",0.508,"Human Development Index (HDI), female",0.264,Gender Development Index (GDI),0.519
2,Afghanistan,AFG,2010,"Human Development Index (HDI), male",0.553,"Human Development Index (HDI), female",0.329,Gender Development Index (GDI),0.595
3,Afghanistan,AFG,2011,"Human Development Index (HDI), male",0.557,"Human Development Index (HDI), female",0.339,Gender Development Index (GDI),0.609
4,Afghanistan,AFG,2012,"Human Development Index (HDI), male",0.566,"Human Development Index (HDI), female",0.350,Gender Development Index (GDI),0.618
...,...,...,...,...,...,...,...,...,...
2067,Zimbabwe,ZWE,2018,"Human Development Index (HDI), male",0.591,"Human Development Index (HDI), female",0.548,Gender Development Index (GDI),0.927
2068,Zimbabwe,ZWE,2019,"Human Development Index (HDI), male",0.590,"Human Development Index (HDI), female",0.550,Gender Development Index (GDI),0.931
2069,Saint Vincent and the Grenadines,VCT,2019,"Human Development Index (HDI), male",0.750,"Human Development Index (HDI), female",0.724,Gender Development Index (GDI),0.965
2070,Cameroon,CMR,1995,NaN,NaN,"Human Development Index (HDI), female",0.398,NaN,NaN
2071,Panama,PAN,1995,NaN,NaN,"Human Development Index (HDI), female",0.688,NaN,NaN

In [12]:
df_all = df_all.rename(columns={'value_HDI_m': 'HDI_male', 'value_HDI_f': 'HDI_female', 'value': 'GDI'})
df_all

,Country,Country_Code,Year,indicator_HDI_m,HDI_male,indicator_HDI_f,HDI_female,indicator,GDI
0,Afghanistan,AFG,2000,"Human Development Index (HDI), male",0.429,"Human Development Index (HDI), female",0.138,Gender Development Index (GDI),0.322
1,Afghanistan,AFG,2005,"Human Development Index (HDI), male",0.508,"Human Development Index (HDI), female",0.264,Gender Development Index (GDI),0.519
2,Afghanistan,AFG,2010,"Human Development Index (HDI), male",0.553,"Human Development Index (HDI), female",0.329,Gender Development Index (GDI),0.595
3,Afghanistan,AFG,2011,"Human Development Index (HDI), male",0.557,"Human Development Index (HDI), female",0.339,Gender Development Index (GDI),0.609
4,Afghanistan,AFG,2012,"Human Development Index (HDI), male",0.566,"Human Development Index (HDI), female",0.350,Gender Development Index (GDI),0.618
...,...,...,...,...,...,...,...,...,...
2067,Zimbabwe,ZWE,2018,"Human Development Index (HDI), male",0.591,"Human Development Index (HDI), female",0.548,Gender Development Index (GDI),0.927
2068,Zimbabwe,ZWE,2019,"Human Development Index (HDI), male",0.590,"Human Development Index (HDI), female",0.550,Gender Development Index (GDI),0.931
2069,Saint Vincent and the Grenadines,VCT,2019,"Human Development Index (HDI), male",0.750,"Human Development Index (HDI), female",0.724,Gender Development Index (GDI),0.965
2070,Cameroon,CMR,1995,NaN,NaN,"Human Development Index (HDI), female",0.398,NaN,NaN
2071,Panama,PAN,1995,NaN,NaN,"Human Development Index (HDI), female",0.688,NaN,NaN

In [13]:
df_clean = df_all[['Country', 'Country_Code', 'Year', 'HDI_male', 'HDI_female', 'GDI']].copy()
df_clean

,Country,Country_Code,Year,HDI_male,HDI_female,GDI
0,Afghanistan,AFG,2000,0.429,0.138,0.322
1,Afghanistan,AFG,2005,0.508,0.264,0.519
2,Afghanistan,AFG,2010,0.553,0.329,0.595
3,Afghanistan,AFG,2011,0.557,0.339,0.609
4,Afghanistan,AFG,2012,0.566,0.350,0.618
...,...,...,...,...,...,...
2067,Zimbabwe,ZWE,2018,0.591,0.548,0.927
2068,Zimbabwe,ZWE,2019,0.590,0.550,0.931
2069,Saint Vincent and the Grenadines,VCT,2019,0.750,0.724,0.965
2070,Cameroon,CMR,1995,NaN,0.398,NaN
2071,Panama,PAN,1995,NaN,0.688,NaN

In [14]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2072 entries, 0 to 2071
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       2072 non-null   object
 1   Country_Code  2072 non-null   object
 2   Year          2072 non-null   object
 3   HDI_male      2070 non-null   float64
 4   HDI_female    2071 non-null   float64
 5   GDI           2069 non-null   float64
dtypes: float64(3), object(3)
memory usage: 113.3+ KB

In [15]:
df_clean[df_clean.isnull().any(axis=1)]

       Country Country_Code  Year  HDI_male  HDI_female  GDI
1632     Sudan          SDN  2000     0.445         NaN  NaN
2070  Cameroon          CMR  1995       NaN       0.398  NaN
2071    Panama          PAN  1995       NaN       0.688  NaN

In [16]:
df_final = df_clean.dropna()
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2069 entries, 0 to 2069
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       2069 non-null   object
 1   Country_Code  2069 non-null   object
 2   Year          2069 non-null   object
 3   HDI_male      2069 non-null   float64
 4   HDI_female    2069 non-null   float64
 5   GDI           2069 non-null   float64
dtypes: float64(3), object(3)
memory usage: 113.1+ KB

In [17]:
df_final.to_json('data_final.json')

In [36]:
countries = df_final["Country"].unique()
countries.drop

array(['Afghanistan', 'Angola', 'Albania', 'United Arab Emirates',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrain', 'Bahamas', 'Bosnia and Herzegovina',
       'Belarus', 'Belize', 'Bolivia (Plurinational State of)', 'Brazil',
       'Barbados', 'Brunei Darussalam', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland', 'Chile',
       'China', "Cote d'Ivoire", 'Cameroon',
       'Congo (Democratic Republic of the)', 'Congo', 'Colombia',
       'Comoros', 'Cabo Verde', 'Costa Rica', 'Cuba', 'Cyprus', 'Czechia',
       'Germany', 'Denmark', 'Dominican Republic', 'Algeria', 'Ecuador',
       'Egypt', 'Spain', 'Estonia', 'Ethiopia', 'Finland', 'Fiji',
       'France', 'Gabon', 'United Kingdom', 'Georgia', 'Ghana', 'Guinea',
       'Gambia', 'Greece', 'Guatemala', 'Guyana',
       'Hong Kong, China (SAR)', 'Honduras', 'Croatia', 'Haiti',
       'Hungary', 'Indonesia', 'India', 'Ireland',
       'Iran (Islamic Republic of)', 'Iraq', 'Iceland', 'Israel', 'Italy',
       'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyzstan',
       'Cambodia', 'Korea (Republic of)', 'Kuwait',
       "Lao People's Democratic Republic", 'Lebanon', 'Liberia', 'Libya',
       'Saint Lucia', 'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg',
       'Latvia', 'Morocco', 'Moldova (Republic of)', 'Madagascar',
       'Maldives', 'Mexico', 'North Macedonia', 'Mali', 'Malta',
       'Myanmar', 'Montenegro', 'Mongolia', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'Namibia', 'Niger', 'Nigeria',
       'Nicaragua', 'Netherlands', 'Norway', 'Nepal', 'New Zealand',
       'Oman', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Papua New Guinea', 'Poland', 'Portugal', 'Paraguay',
       'Palestine, State of', 'Qatar', 'Romania', 'Russian Federation',
       'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore',
       'Sierra Leone', 'El Salvador', 'Serbia', 'South Sudan',
       'Sao Tome and Principe', 'Suriname', 'Slovakia', 'Slovenia',
       'Sweden', 'Eswatini (Kingdom of)', 'Syrian Arab Republic', 'Chad',
       'Togo', 'Thailand', 'Tajikistan', 'Timor-Leste', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Tanzania (United Republic of)', 'Uganda', 'Ukraine', 'Uruguay',
       'United States', 'Uzbekistan',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'South Africa', 'Zambia', 'Zimbabwe',
       'Saint Vincent and the Grenadines'], dtype=object)

In [37]:
for country in countries:
    print(f'<option value="{country}">{country}</option>')

<option value="Afghanistan">Afghanistan</option>
<option value="Angola">Angola</option>
<option value="Albania">Albania</option>
<option value="United Arab Emirates">United Arab Emirates</option>
<option value="Argentina">Argentina</option>
<option value="Armenia">Armenia</option>
<option value="Australia">Australia</option>
<option value="Austria">Austria</option>
<option value="Azerbaijan">Azerbaijan</option>
<option value="Burundi">Burundi</option>
<option value="Belgium">Belgium</option>
<option value="Benin">Benin</option>
<option value="Burkina Faso">Burkina Faso</option>
<option value="Bangladesh">Bangladesh</option>
<option value="Bulgaria">Bulgaria</option>
<option value="Bahrain">Bahrain</option>
<option value="Bahamas">Bahamas</option>
<option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
<option value="Belarus">Belarus</option>
<option value="Belize">Belize</option>
<option value="Bolivia (Plurinational State of)">Bolivia (Plurinational State of)</option>
<option value="Brazil">Brazil</option>
<option value="Barbados">Barbados</option>
<option value="Brunei Darussalam">Brunei Darussalam</option>
<option value="Bhutan">Bhutan</option>
<option value="Botswana">Botswana</option>
<option value="Central African Republic">Central African Republic</option>
<option value="Canada">Canada</option>
<option value="Switzerland">Switzerland</option>
<option value="Chile">Chile</option>
<option value="China">China</option>
<option value="Cote d'Ivoire">Cote d'Ivoire</option>
<option value="Cameroon">Cameroon</option>
<option value="Congo (Democratic Republic of the)">Congo (Democratic Republic of the)</option>
<option value="Congo">Congo</option>
<option value="Colombia">Colombia</option>
<option value="Comoros">Comoros</option>
<option value="Cabo Verde">Cabo Verde</option>
<option value="Costa Rica">Costa Rica</option>
<option value="Cuba">Cuba</option>
<option value="Cyprus">Cyprus</option>
<option value="Czechia">Czechia</option>
<option value="Germany">Germany</option>
<option value="Denmark">Denmark</option>
<option value="Dominican Republic">Dominican Republic</option>
<option value="Algeria">Algeria</option>
<option value="Ecuador">Ecuador</option>
<option value="Egypt">Egypt</option>
<option value="Spain">Spain</option>
<option value="Estonia">Estonia</option>
<option value="Ethiopia">Ethiopia</option>
<option value="Finland">Finland</option>
<option value="Fiji">Fiji</option>
<option value="France">France</option>
<option value="Gabon">Gabon</option>
<option value="United Kingdom">United Kingdom</option>
<option value="Georgia">Georgia</option>
<option value="Ghana">Ghana</option>
<option value="Guinea">Guinea</option>
<option value="Gambia">Gambia</option>
<option value="Greece">Greece</option>
<option value="Guatemala">Guatemala</option>
<option value="Guyana">Guyana</option>
<option value="Hong Kong, China (SAR)">Hong Kong, China (SAR)</option>
<option value="Honduras">Honduras</option>
<option value="Croatia">Croatia</option>
<option value="Haiti">Haiti</option>
<option value="Hungary">Hungary</option>
<option value="Indonesia">Indonesia</option>
<option value="India">India</option>
<option value="Ireland">Ireland</option>
<option value="Iran (Islamic Republic of)">Iran (Islamic Republic of)</option>
<option value="Iraq">Iraq</option>
<option value="Iceland">Iceland</option>
<option value="Israel">Israel</option>
<option value="Italy">Italy</option>
<option value="Jamaica">Jamaica</option>
<option value="Jordan">Jordan</option>
<option value="Japan">Japan</option>
<option value="Kazakhstan">Kazakhstan</option>
<option value="Kenya">Kenya</option>
<option value="Kyrgyzstan">Kyrgyzstan</option>
<option value="Cambodia">Cambodia</option>
<option value="Korea (Republic of)">Korea (Republic of)</option>
<option value="Kuwait">Kuwait</option>
<option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
<option value="Lebanon">Lebanon</option>
<option value="Liberia">Liberia</option>
<option value="Libya">Libya</option>
<option value="Saint Lucia">Saint Lucia</option>
<option value="Sri Lanka">Sri Lanka</option>
<option value="Lesotho">Lesotho</option>
<option value="Lithuania">Lithuania</option>
<option value="Luxembourg">Luxembourg</option>
<option value="Latvia">Latvia</option>
<option value="Morocco">Morocco</option>
<option value="Moldova (Republic of)">Moldova (Republic of)</option>
<option value="Madagascar">Madagascar</option>
<option value="Maldives">Maldives</option>
<option value="Mexico">Mexico</option>
<option value="North Macedonia">North Macedonia</option>
<option value="Mali">Mali</option>
<option value="Malta">Malta</option>
<option value="Myanmar">Myanmar</option>
<option value="Montenegro">Montenegro</option>
<option value="Mongolia">Mongolia</option>
<option value="Mozambique">Mozambique</option>
<option value="Mauritania">Mauritania</option>
<option value="Mauritius">Mauritius</option>
<option value="Malawi">Malawi</option>
<option value="Malaysia">Malaysia</option>
<option value="Namibia">Namibia</option>
<option value="Niger">Niger</option>
<option value="Nigeria">Nigeria</option>
<option value="Nicaragua">Nicaragua</option>
<option value="Netherlands">Netherlands</option>
<option value="Norway">Norway</option>
<option value="Nepal">Nepal</option>
<option value="New Zealand">New Zealand</option>
<option value="Oman">Oman</option>
<option value="Pakistan">Pakistan</option>
<option value="Panama">Panama</option>
<option value="Peru">Peru</option>
<option value="Philippines">Philippines</option>
<option value="Papua New Guinea">Papua New Guinea</option>
<option value="Poland">Poland</option>
<option value="Portugal">Portugal</option>
<option value="Paraguay">Paraguay</option>
<option value="Palestine, State of">Palestine, State of</option>
<option value="Qatar">Qatar</option>
<option value="Romania">Romania</option>
<option value="Russian Federation">Russian Federation</option>
<option value="Rwanda">Rwanda</option>
<option value="Saudi Arabia">Saudi Arabia</option>
<option value="Sudan">Sudan</option>
<option value="Senegal">Senegal</option>
<option value="Singapore">Singapore</option>
<option value="Sierra Leone">Sierra Leone</option>
<option value="El Salvador">El Salvador</option>
<option value="Serbia">Serbia</option>
<option value="South Sudan">South Sudan</option>
<option value="Sao Tome and Principe">Sao Tome and Principe</option>
<option value="Suriname">Suriname</option>
<option value="Slovakia">Slovakia</option>
<option value="Slovenia">Slovenia</option>
<option value="Sweden">Sweden</option>
<option value="Eswatini (Kingdom of)">Eswatini (Kingdom of)</option>
<option value="Syrian Arab Republic">Syrian Arab Republic</option>
<option value="Chad">Chad</option>
<option value="Togo">Togo</option>
<option value="Thailand">Thailand</option>
<option value="Tajikistan">Tajikistan</option>
<option value="Timor-Leste">Timor-Leste</option>
<option value="Tonga">Tonga</option>
<option value="Trinidad and Tobago">Trinidad and Tobago</option>
<option value="Tunisia">Tunisia</option>
<option value="Turkey">Turkey</option>
<option value="Tanzania (United Republic of)">Tanzania (United Republic of)</option>
<option value="Uganda">Uganda</option>
<option value="Ukraine">Ukraine</option>
<option value="Uruguay">Uruguay</option>
<option value="United States">United States</option>
<option value="Uzbekistan">Uzbekistan</option>
<option value="Venezuela (Bolivarian Republic of)">Venezuela (Bolivarian Republic of)</option>
<option value="Viet Nam">Viet Nam</option>
<option value="Yemen">Yemen</option>
<option value="South Africa">South Africa</option>
<option value="Zambia">Zambia</option>
<option value="Zimbabwe">Zimbabwe</option>
<option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>