In [1]:
import requests
import json
import pandas as pd

In [2]:
# with open("data.json", "r") as f: 
#     raw_data = json.load(f)
    
url_HDRO = "http://ec2-54-174-131-205.compute-1.amazonaws.com/API/HDRO_API.php/indicator_id=137906,136906,137006/year=1990,1995,2000,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021"
response_HDRO = requests.get(url_HDRO)
print(f"HDRO: {response_HDRO}")

raw_data = response_HDRO.json()

HDRO: <Response [200]>

In [3]:
indicator_name = raw_data["indicator_name"]
indicator_name

{'136906': 'Human Development Index (HDI), female',
 '137006': 'Human Development Index (HDI), male',
 '137906': 'Gender Development Index (GDI)'}

In [4]:
country_name = raw_data["country_name"]

In [5]:
clean_data = []
for country_code in raw_data["indicator_value"].keys():
    for indicator_code in raw_data["indicator_value"][country_code].keys():
        for year in raw_data["indicator_value"][country_code][indicator_code].keys():
            my_dict = {
                "Country": country_name[country_code],
                "Country_Code": country_code,
                "Year":year,
                "indicator":indicator_name[indicator_code],
                "value": raw_data["indicator_value"][country_code][indicator_code][year]
                
            }
            clean_data.append(my_dict)

In [6]:
df = pd.DataFrame(clean_data)
df

,Country,Country_Code,Year,indicator,value
0,Afghanistan,AFG,2000,"Human Development Index (HDI), female",0.138
1,Afghanistan,AFG,2005,"Human Development Index (HDI), female",0.264
2,Afghanistan,AFG,2010,"Human Development Index (HDI), female",0.329
3,Afghanistan,AFG,2011,"Human Development Index (HDI), female",0.339
4,Afghanistan,AFG,2012,"Human Development Index (HDI), female",0.350
...,...,...,...,...,...
6205,Zimbabwe,ZWE,2018,Gender Development Index (GDI),0.927
6206,Zimbabwe,ZWE,2019,Gender Development Index (GDI),0.931
6207,Saint Vincent and the Grenadines,VCT,2019,Gender Development Index (GDI),0.965
6208,Saint Vincent and the Grenadines,VCT,2019,"Human Development Index (HDI), female",0.724
6209,Saint Vincent and the Grenadines,VCT,2019,"Human Development Index (HDI), male",0.750

In [7]:
df_HDI_f = df[df['indicator'] == 'Human Development Index (HDI), female']
df_HDI_f

,Country,Country_Code,Year,indicator,value
0,Afghanistan,AFG,2000,"Human Development Index (HDI), female",0.138
1,Afghanistan,AFG,2005,"Human Development Index (HDI), female",0.264
2,Afghanistan,AFG,2010,"Human Development Index (HDI), female",0.329
3,Afghanistan,AFG,2011,"Human Development Index (HDI), female",0.339
4,Afghanistan,AFG,2012,"Human Development Index (HDI), female",0.350
...,...,...,...,...,...
6177,Zimbabwe,ZWE,2016,"Human Development Index (HDI), female",0.538
6178,Zimbabwe,ZWE,2017,"Human Development Index (HDI), female",0.543
6179,Zimbabwe,ZWE,2018,"Human Development Index (HDI), female",0.548
6180,Zimbabwe,ZWE,2019,"Human Development Index (HDI), female",0.550
6208,Saint Vincent and the Grenadines,VCT,2019,"Human Development Index (HDI), female",0.724

In [8]:
df_HDI_m = df[df['indicator'] == 'Human Development Index (HDI), male']
df_HDI_m

,Country,Country_Code,Year,indicator,value
12,Afghanistan,AFG,2000,"Human Development Index (HDI), male",0.429
13,Afghanistan,AFG,2005,"Human Development Index (HDI), male",0.508
14,Afghanistan,AFG,2010,"Human Development Index (HDI), male",0.553
15,Afghanistan,AFG,2011,"Human Development Index (HDI), male",0.557
16,Afghanistan,AFG,2012,"Human Development Index (HDI), male",0.566
...,...,...,...,...,...
6190,Zimbabwe,ZWE,2016,"Human Development Index (HDI), male",0.581
6191,Zimbabwe,ZWE,2017,"Human Development Index (HDI), male",0.586
6192,Zimbabwe,ZWE,2018,"Human Development Index (HDI), male",0.591
6193,Zimbabwe,ZWE,2019,"Human Development Index (HDI), male",0.590
6209,Saint Vincent and the Grenadines,VCT,2019,"Human Development Index (HDI), male",0.750

In [9]:
df_GDI = df[df['indicator'] == 'Gender Development Index (GDI)']
df_GDI

,Country,Country_Code,Year,indicator,value
24,Afghanistan,AFG,2000,Gender Development Index (GDI),0.322
25,Afghanistan,AFG,2005,Gender Development Index (GDI),0.519
26,Afghanistan,AFG,2010,Gender Development Index (GDI),0.595
27,Afghanistan,AFG,2011,Gender Development Index (GDI),0.609
28,Afghanistan,AFG,2012,Gender Development Index (GDI),0.618
...,...,...,...,...,...
6203,Zimbabwe,ZWE,2016,Gender Development Index (GDI),0.927
6204,Zimbabwe,ZWE,2017,Gender Development Index (GDI),0.927
6205,Zimbabwe,ZWE,2018,Gender Development Index (GDI),0.927
6206,Zimbabwe,ZWE,2019,Gender Development Index (GDI),0.931
6207,Saint Vincent and the Grenadines,VCT,2019,Gender Development Index (GDI),0.965

In [10]:
df_HDIm_HDIf = pd.merge(df_HDI_m, df_HDI_f,  how='outer', left_on=['Country','Country_Code','Year'], right_on = ['Country','Country_Code','Year'], suffixes = ('_HDI_m', '_HDI_f'))
df_HDIm_HDIf

,Country,Country_Code,Year,indicator_HDI_m,value_HDI_m,indicator_HDI_f,value_HDI_f
0,Afghanistan,AFG,2000,"Human Development Index (HDI), male",0.429,"Human Development Index (HDI), female",0.138
1,Afghanistan,AFG,2005,"Human Development Index (HDI), male",0.508,"Human Development Index (HDI), female",0.264
2,Afghanistan,AFG,2010,"Human Development Index (HDI), male",0.553,"Human Development Index (HDI), female",0.329
3,Afghanistan,AFG,2011,"Human Development Index (HDI), male",0.557,"Human Development Index (HDI), female",0.339
4,Afghanistan,AFG,2012,"Human Development Index (HDI), male",0.566,"Human Development Index (HDI), female",0.350
...,...,...,...,...,...,...,...
2067,Zimbabwe,ZWE,2018,"Human Development Index (HDI), male",0.591,"Human Development Index (HDI), female",0.548
2068,Zimbabwe,ZWE,2019,"Human Development Index (HDI), male",0.590,"Human Development Index (HDI), female",0.550
2069,Saint Vincent and the Grenadines,VCT,2019,"Human Development Index (HDI), male",0.750,"Human Development Index (HDI), female",0.724
2070,Cameroon,CMR,1995,NaN,NaN,"Human Development Index (HDI), female",0.398
2071,Panama,PAN,1995,NaN,NaN,"Human Development Index (HDI), female",0.688

In [11]:
df_all = pd.merge(df_HDIm_HDIf, df_GDI,  how='outer', left_on=['Country','Country_Code','Year'], right_on = ['Country','Country_Code','Year'])
df_all

,Country,Country_Code,Year,indicator_HDI_m,value_HDI_m,indicator_HDI_f,value_HDI_f,indicator,value
0,Afghanistan,AFG,2000,"Human Development Index (HDI), male",0.429,"Human Development Index (HDI), female",0.138,Gender Development Index (GDI),0.322
1,Afghanistan,AFG,2005,"Human Development Index (HDI), male",0.508,"Human Development Index (HDI), female",0.264,Gender Development Index (GDI),0.519
2,Afghanistan,AFG,2010,"Human Development Index (HDI), male",0.553,"Human Development Index (HDI), female",0.329,Gender Development Index (GDI),0.595
3,Afghanistan,AFG,2011,"Human Development Index (HDI), male",0.557,"Human Development Index (HDI), female",0.339,Gender Development Index (GDI),0.609
4,Afghanistan,AFG,2012,"Human Development Index (HDI), male",0.566,"Human Development Index (HDI), female",0.350,Gender Development Index (GDI),0.618
...,...,...,...,...,...,...,...,...,...
2067,Zimbabwe,ZWE,2018,"Human Development Index (HDI), male",0.591,"Human Development Index (HDI), female",0.548,Gender Development Index (GDI),0.927
2068,Zimbabwe,ZWE,2019,"Human Development Index (HDI), male",0.590,"Human Development Index (HDI), female",0.550,Gender Development Index (GDI),0.931
2069,Saint Vincent and the Grenadines,VCT,2019,"Human Development Index (HDI), male",0.750,"Human Development Index (HDI), female",0.724,Gender Development Index (GDI),0.965
2070,Cameroon,CMR,1995,NaN,NaN,"Human Development Index (HDI), female",0.398,NaN,NaN
2071,Panama,PAN,1995,NaN,NaN,"Human Development Index (HDI), female",0.688,NaN,NaN

In [12]:
df_all = df_all.rename(columns={'value_HDI_m': 'HDI_male', 'value_HDI_f': 'HDI_female', 'value': 'GDI'})
df_all

,Country,Country_Code,Year,indicator_HDI_m,HDI_male,indicator_HDI_f,HDI_female,indicator,GDI
0,Afghanistan,AFG,2000,"Human Development Index (HDI), male",0.429,"Human Development Index (HDI), female",0.138,Gender Development Index (GDI),0.322
1,Afghanistan,AFG,2005,"Human Development Index (HDI), male",0.508,"Human Development Index (HDI), female",0.264,Gender Development Index (GDI),0.519
2,Afghanistan,AFG,2010,"Human Development Index (HDI), male",0.553,"Human Development Index (HDI), female",0.329,Gender Development Index (GDI),0.595
3,Afghanistan,AFG,2011,"Human Development Index (HDI), male",0.557,"Human Development Index (HDI), female",0.339,Gender Development Index (GDI),0.609
4,Afghanistan,AFG,2012,"Human Development Index (HDI), male",0.566,"Human Development Index (HDI), female",0.350,Gender Development Index (GDI),0.618
...,...,...,...,...,...,...,...,...,...
2067,Zimbabwe,ZWE,2018,"Human Development Index (HDI), male",0.591,"Human Development Index (HDI), female",0.548,Gender Development Index (GDI),0.927
2068,Zimbabwe,ZWE,2019,"Human Development Index (HDI), male",0.590,"Human Development Index (HDI), female",0.550,Gender Development Index (GDI),0.931
2069,Saint Vincent and the Grenadines,VCT,2019,"Human Development Index (HDI), male",0.750,"Human Development Index (HDI), female",0.724,Gender Development Index (GDI),0.965
2070,Cameroon,CMR,1995,NaN,NaN,"Human Development Index (HDI), female",0.398,NaN,NaN
2071,Panama,PAN,1995,NaN,NaN,"Human Development Index (HDI), female",0.688,NaN,NaN

In [13]:
df_clean = df_all[['Country', 'Country_Code', 'Year', 'HDI_male', 'HDI_female', 'GDI']].copy()
df_clean

,Country,Country_Code,Year,HDI_male,HDI_female,GDI
0,Afghanistan,AFG,2000,0.429,0.138,0.322
1,Afghanistan,AFG,2005,0.508,0.264,0.519
2,Afghanistan,AFG,2010,0.553,0.329,0.595
3,Afghanistan,AFG,2011,0.557,0.339,0.609
4,Afghanistan,AFG,2012,0.566,0.350,0.618
...,...,...,...,...,...,...
2067,Zimbabwe,ZWE,2018,0.591,0.548,0.927
2068,Zimbabwe,ZWE,2019,0.590,0.550,0.931
2069,Saint Vincent and the Grenadines,VCT,2019,0.750,0.724,0.965
2070,Cameroon,CMR,1995,NaN,0.398,NaN
2071,Panama,PAN,1995,NaN,0.688,NaN

In [14]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2072 entries, 0 to 2071
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       2072 non-null   object
 1   Country_Code  2072 non-null   object
 2   Year          2072 non-null   object
 3   HDI_male      2070 non-null   float64
 4   HDI_female    2071 non-null   float64
 5   GDI           2069 non-null   float64
dtypes: float64(3), object(3)
memory usage: 113.3+ KB

In [15]:
df_clean[df_clean.isnull().any(axis=1)]

       Country Country_Code  Year  HDI_male  HDI_female  GDI
1632     Sudan          SDN  2000     0.445         NaN  NaN
2070  Cameroon          CMR  1995       NaN       0.398  NaN
2071    Panama          PAN  1995       NaN       0.688  NaN