In [3]:
import requests
import json
import pandas as pd

In [45]:
with open("data.json", "r") as f: 
    raw_data = json.load(f)

In [50]:
indicator_name = raw_data["indicator_name"]
indicator_name

{'136906': 'Human Development Index (HDI), female',
 '137006': 'Human Development Index (HDI), male',
 '137906': 'Gender Development Index (GDI)'}

In [51]:
country_name = raw_data["country_name"]

In [56]:
clean_data = []
for country_code in raw_data["indicator_value"].keys():
    for indicator_code in raw_data["indicator_value"][country_code].keys():
        for year in raw_data["indicator_value"][country_code][indicator_code].keys():
            my_dict = {
                "country": country_name[country_code],
                "year":year,
                "indicator":indicator_name[indicator_code],
                "value": raw_data["indicator_value"][country_code][indicator_code][year]
                
            }
            clean_data.append(my_dict)

In [57]:
df = pd.DataFrame(clean_data)
df

,country,year,indicator,value
0,Afghanistan,2000,"Human Development Index (HDI), female",0.138
1,Afghanistan,2005,"Human Development Index (HDI), female",0.264
2,Afghanistan,2010,"Human Development Index (HDI), female",0.329
3,Afghanistan,2011,"Human Development Index (HDI), female",0.339
4,Afghanistan,2012,"Human Development Index (HDI), female",0.350
...,...,...,...,...
6205,Zimbabwe,2018,Gender Development Index (GDI),0.927
6206,Zimbabwe,2019,Gender Development Index (GDI),0.931
6207,Saint Vincent and the Grenadines,2019,Gender Development Index (GDI),0.965
6208,Saint Vincent and the Grenadines,2019,"Human Development Index (HDI), female",0.724
6209,Saint Vincent and the Grenadines,2019,"Human Development Index (HDI), male",0.750