In [1]:
from statsmodels.tsa.arima.model import ARIMA
import joblib 
import warnings
warnings.filterwarnings("ignore")
import pandas as pd

In [2]:
df = pd.read_json("./data_final.json")
df.describe()

              Year     HDI_male   HDI_female          GDI
count  2069.000000  2069.000000  2069.000000  2069.000000
mean   2011.668439     0.715458     0.671971     0.929097
std       6.462829     0.150461     0.174303     0.079864
min    1995.000000     0.255000     0.138000     0.322000
25%    2010.000000     0.598000     0.538000     0.890000
50%    2013.000000     0.734000     0.700000     0.959000
75%    2016.000000     0.828000     0.813000     0.982000
max    2019.000000     0.965000     0.949000     1.051000

In [3]:
for country in df["Country"].unique():
    try: 
        df_country = df[df["Country"]==country] # filter df to specific country 
        X = df_country.set_index("Year")["GDI"]
        # print(X)
        model = ARIMA(X, order=(5,1,0))
        model_fitted =model.fit()
        joblib.dump(model_fitted, f"models/{country}.sav")
    except: 
        print(f"{country} failed to train")

Bahamas failed to train
Fiji failed to train
Papua New Guinea failed to train
Saint Vincent and the Grenadines failed to train